# Entorno virtual
venv/
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp

# Bytecode de Python
__pycache__/
*.py[cod]

# Node.js
node_modules/
dist/

# Vite / React
.vite
*.local

# Archivos de configuración de usuario de VS Code
.vscode/

# Llaves o secretos (⚠️ importante)
backend/bot/firebase_key.json
